
<div class="mainContainer">
  <div class="leftSection">
    <mat-list role="list" class="cards" *ngFor="let card of cards">
      <mat-card class="card">
        <mat-card-title-group>
          <mat-card-title>{{card.name}}</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
          UserName: {{card.username}}
        </mat-card-content>
        <mat-card-content>
          Email: {{card.email}}
        </mat-card-content>
        <mat-card-content>
          Website: {{card.website}}
        </mat-card-content>
      </mat-card>
    </mat-list>
  </div>

  <div class="rightUpDiv">
  <h1>User {{selectedUser.name}}</h1>
  </div>

  <div class="rightDownDiv">
    <router-outlet></router-outlet>
  </div>
</div>

